<div class="container">
    <header>
        <h1>Mi jornada</h1>
        <div class="actions">
            <button class="btn-action add-incident">Añadir incidencia *</button>
            <button class="btn-action clock-out">Fichar salida</button>
        </div>
    </header>

    <div class="prinp">

        <div class="date">
            <span class="date-text">jueves 24 jul.</span>
            <span class="total-time">5h 14min</span>
        </div>

        <table class="schedule-table">
            <thead>
                <tr>
                    <th>ENTRADA</th>
                    <th>LUGAR</th>
                    <th>SALIDA</th>
                    <th>LUGAR</th>
                    <th>AUSENCIA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>7:50</td>
                    <td>Oficina</td>
                    <td>12:46</td>
                    <td>Oficina</td>
                    <td>—</td>
                    <td><button class="">✏️</button></td>
                </tr>
                <tr>
                    <td>12:46</td>
                    <td>Oficina</td>
                    <td>12:46</td>
                    <td>Oficina</td>
                    <td>—</td>
                    <td><button class="">✏️</button></td>
                </tr>
            </tbody>
        </table>

        <div class="cont-ref">
            <button class="btn">Refrescar datos</button>
        </div>
    </div>

    <footer>
        <p>* Registra o corrige tus fichajes.</p>
        <p>Puedes solicitar el registro o modificación de fichajes de días anteriores.</p>
    </footer>
</div>