<div class="container">
    <header>
        <h1>Mi jornada</h1>
        <div class="actions">
            <button class="btn-action add-incident">Añadir incidencia *</button>
            <span *ngIf="trabajando">
                <button class="btn-action clock-out" (click)="ficharSalida()">Fichar salida</button>
            </span>
            <span *ngIf="!trabajando">
                <button class="btn-action clock-out" (click)="ficharEntrada()">Fichar entrada</button>
            </span>
        </div>
    </header>

    <div class="prinp">

        <div class="date">
            <p class="date-text">jueves 24 jul.</p>
            <p class="total-time">5h 14min</p>
        </div>

        <table class="schedule-table">
            <thead>
                <tr>
                    <th>ENTRADA</th>
                    <th>LUGAR</th>
                    <th>SALIDA</th>
                    <th>LUGAR</th>
                    <th>AUSENCIA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fichaje of fichajes">
                    <td>{{ fichaje.entrada }}</td>
                    <td>{{ fichaje.lugarEntrada }}</td>
                    <td>{{ fichaje.salida || '—' }}</td>
                    <td>{{ fichaje.lugarSalida || '—' }}</td>
                    <td>{{ fichaje.ausencia }}</td>
                    <td><button>✏️</button></td>
                </tr>
            </tbody>
        </table>

        <div class="cont-ref">
            <button class="btn">Refrescar datos</button>
        </div>
    </div>

    <footer>
        <p>* Registra o corrige tus fichajes.</p>
        <p>Puedes solicitar el registro o modificación de fichajes de días anteriores.</p>
    </footer>
</div>