<div class="container">
    <header>
        <h1>Mi jornada</h1>
        <div class="actions">
            <button class="btn-action add-incident">Añadir incidencia *</button>
            <span *ngIf="working">
                <button class="btn-action clock-out" (click)="ficharSalida()">Fichar salida</button>
            </span>
            <span *ngIf="!working">
                <button class="btn-action clock-out" (click)="ficharEntrada()">Fichar entrada</button>
            </span>
        </div>
    </header>

    <div class="prinp">

        <div class="caldiv">
            <input class="cal" type="date" [(ngModel)]="selectedDate" (change)="refrescarDatos()" />
        </div>
        
        <div class="date">
            <button class="btna" (click)="changeDays(-1)">&lt;</button>
            <div class="date-center">
                <p class="date-text">{{visualSelectedDate}}</p>
                <p class="total-time">{{workingHours}}</p>
            </div>
            <button class="btnb" (click)="changeDays(1)">&gt;</button>
        </div>

        <table class="schedule-table">
            <thead>
                <tr>
                    <th>ENTRADA</th>
                    <th>LUGAR</th>
                    <th>SALIDA</th>
                    <th>LUGAR</th>
                    <th>AUSENCIA</th>
                    <th>ACCIONES</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let fichaje of fichajes">
                        <td *ngIf="!fichaje.incidencia">{{ fichaje.entradaHora }}</td>
                        <td *ngIf="fichaje.incidencia">
                            <input class="inputIncidencias" type="date" [(ngModel)]="fichaje.entradaFecha">
                            <br>
                            <input class="inputIncidencias" type="time" [(ngModel)]="fichaje.entradaHora">
                        </td>

                        <td *ngIf="!fichaje.incidencia">{{ fichaje.lugarEntrada }}</td>
                        <td *ngIf="fichaje.incidencia">Oficina</td>

                        <td *ngIf="!fichaje.incidencia">{{ fichaje.salidaHora || '—' }}</td>
                        <td *ngIf="fichaje.incidencia">
                            <input class="inputIncidencias" type="date" [(ngModel)]="fichaje.salidaFecha">
                            <br>
                            <input class="inputIncidencias" type="time" [(ngModel)]="fichaje.salidaHora">
                        </td>

                        <td *ngIf="!fichaje.incidencia">{{ fichaje.lugarSalida || '—' }}</td>
                        <td *ngIf="fichaje.incidencia">Oficina</td>

                        <td *ngIf="!fichaje.incidencia">{{ fichaje.ausencia }}</td>

                        <td *ngIf="!fichaje.incidencia"><button (click)="fichaje.incidencia=true">✏️</button></td>
                        <td *ngIf="fichaje.incidencia">
                            <button (click)="guardarIncidencia(fichaje.id_entrada,fichaje.id_salida,fichaje.entradaFecha,
                            fichaje.entradaHora,fichaje.salidaFecha,fichaje.salidaHora)">💾</button>
                            <button (click)="salirIncidencia(fichaje.incidencia)">❌</button>
                        </td>
                </tr>
            </tbody>
        </table>

        <div class="cont-ref">
            <button class="btn" (click)="refrescarDatos()">Refrescar datos</button>
        </div>
    </div>

    <footer>
        <p>* Registra o corrige tus fichajes.</p>
        <p>Puedes solicitar el registro o modificación de fichajes de días anteriores.</p>
    </footer>
</div>