
  <div class="container">
    <div *ngIf="temporada === 'invierno'" class= "midd">
      <header>
        <h1>Horario invierno</h1>
    </header>
    <div class="prinp">
    <div class="days">
      <div class="day">
        <h2>Lunes</h2>
        <div class="time">08:30 - 18:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 30 min</div>
          <div class="break lunch">🍴 60 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Martes</h2>
        <div class="time">08:30 - 18:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 30 min</div>
          <div class="break lunch">🍴 60 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Miércoles</h2>
        <div class="time">08:30 - 18:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 30 min</div>
          <div class="break lunch">🍴 60 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Jueves</h2>
        <div class="time">08:30- 18:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 30 min</div>
          <div class="break lunch">🍴 60 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Viernes</h2>
        <div class="time">08:00 - 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 30 min</div>
          <div class="break lunch">🍴 60 min</div>
        </div>
      </div>
    </div>
  </div>
</div>

  <div  *ngIf="temporada === 'verano'" class ="midd">
    <header>
        <h1> Horario Verano</h1>
    </header>
    <div class="prinp">
    <div class="days">
      <div class="day">
        <h2>Lunes</h2>
        <div class="time">08:00- 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 20 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Martes</h2>
       <div class="time">08:00 - 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 20 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Miércoles</h2>
        <div class="time">08:00 - 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 20 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Jueves</h2>
        <div class="time">08:00 - 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 20 min</div>
        </div>
      </div>
      <div class="day">
        <h2>Viernes</h2>
        <div class="time">08:00 - 15:00</div>
        <div class="breaks">
          <div class="break coffee">☕ 20 min</div>
        </div>
      </div>
    </div>
  </div>

</div>

   

</div>