<div class="main-container">
  <div class="sidebar" [class.collapsed]="isCollapsed">

    <div class="toggle-btn" (click)="toggleSidebar()">☰</div>
    <div class="user-info" *ngIf="userLogged()">
      <i class="fas fa-user-circle"></i>
      <span *ngIf="!isCollapsed">{{ userName }}</span>
    </div>
    <nav class="menu">
      <a (click)="setSection('jornada')" [class.active]="activeSection === 'jornada'">
        <i class="fas fa-calendar-day"></i>
        <span *ngIf="!isCollapsed">Jornada</span>
      </a>
      <a (click)="setSection('horario')" [class.active]="activeSection === 'horario'">
        <i class="fas fa-clock"></i>
        <span *ngIf="!isCollapsed">Horario</span>
      </a>
      <a (click)="setSection('fichaje')" [class.active]="activeSection === 'fichaje'">
        <i class="fas fa-fingerprint"></i>
        <span *ngIf="!isCollapsed">Fichaje</span>
      </a>
    </nav>
    <!-- <button (click)="comprobar()">comprobar</button> -->
  </div>

  <section class="content">
    <app-jornada *ngIf="activeSection === 'jornada'"></app-jornada>
    <app-horario 
      (irACalendario)="setCalendarioDesdeHorario($event)" 
      *ngIf="activeSection === 'horario'">
    </app-horario>
    <app-calendario 
      [temporada]="selectedSeason" 
      *ngIf="activeSection === 'calendario'">
    </app-calendario>

    <app-fichaje *ngIf="activeSection === 'fichaje'"></app-fichaje>

  </section>
</div>

