* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, html {
  height: 100%;
  font-family: 'Segoe UI', sans-serif;
  background-color: #f0f4ff;
}

.main-container {
  display: flex;
  min-height: 98vh;
  height: 100%;
}

.sidebar {
  width: 250px;
  background-color: #1e3a8a;
  color: white;
  padding: 20px;
  transition: width 0.3s ease;
  display: flex;
  flex-direction: column;
  gap: 30px;
  border-radius: 20px;
  align-items: left;
  position: relative;
}

.sidebar.collapsed {
  width: 70px;
  align-items: center;
}

.toggle-btn {
  font-size: 1.5rem;
  cursor: pointer;
  user-select: none;
  text-align: center;
  color: #ffffff;
  /*
  position: absolute; 
  */
  left: 20px;
  top: 20px;
  z-index: 10;
}

.menu {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin-top: 60px;
}

.menu a {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 12px 20px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  border-radius: 20px;
  transition: transform 0.3s ease, background-color 0.3s ease;
}

.menu a i {
  width: 20px;
  text-align: center;
}

.menu a.active {
  background-color: #2a7cd3;
  border-radius: 20px;
}

.menu a:hover {
  transform: scale(1.05);
  background-color: #2a7cd3;
  border-radius: 20px;
}

.menu a.active:hover {
  transform: scale(1.08);
  background-color: #2a7cd3;
}

.content {
  flex: 1;
  padding: 0;
  margin-left: 0;
  transition: margin-left 0.3s ease;
  display: flex;
  flex-direction: column;
  height: 100%;
  width: 100%;
}

.sidebar.collapsed ~ .content {
  margin-left: 70px;
}

app-jornada,
app-horario,
app-fichaje {
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}

@media (max-width: 768px) {
  .main-container {
    flex-direction: column;
  }

  .sidebar {
    width: 100%;
    height: auto;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
  }

  .sidebar.collapsed {
    width: 100%;
  }

  .menu {
    flex-direction: row;
    gap: 10px;
  }

  .content {
    margin-left: 0;
    padding: 20px;
  }
}

.user-info {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  background-color: #1e40af;
  border-radius: 15px;
  font-size: 1rem;
  color: white;
  transition: all 0.3s ease;
}

.user-info i {
  font-size: 1.5rem;
}

.sidebar.collapsed .user-info span {
  display: none;
}

